{% capture category %}{{ post.categories | size }}{% endcapture %}
<h2><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h2>
<time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>{{ post.date | date: "<span class='year'>%Y</span>-<span class='month'>%m</span>-<span class='day'>%d</span>"}}</time>
{% if category != '0' %}
&nbsp;&nbsp;
<footer>
  <span class="categories">发布在 {{ post.categories | category_links }}</span>
</footer>
{% endif %}
