---
layout: default
title: 风依旧的博客
description: "互联网技术相关的博文"
categories: [ruby, rails, iOS, OS X, blog, 博客, tech, 科技, hacks, mysql]
keywords: ruby rails iOS OS X blog 博客 tech 科技 hacks mysql
image:
  feature: /images/abstract-12.jpg
---

{% assign index = true %}
{% for post in paginator.posts %}
<article class="hentry">
  {% include article.html %}
</article><!-- /.hentry -->
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/" class="btn">上一页</a>
    {% else %}
      <a href="{{ root_url }}{ paginator.previous_page_path }}" class="btn">上一页</a>
    {% endif %}
  {% endif %}
  <a href="{{ root_url }}/archives" class="archives">博客归档</a>
  {% if paginator.next_page %}
    <a href="{{ root_url }}{{ paginator.next_page_path }}" class="btn">下一页</a>
  {% endif %}
</div><!-- /.pagination -->
